/* sub_mainhero */
.sub_mainhero{width: 100%; height: clamp(960px, calc(7.01vw + 926px), 1080px); position: relative; margin: 0; background: url(../images/sub_main_background.jpg) no-repeat  0% 0% / cover; padding-bottom: 0;}
/* (1028-960) / (1440-480) */
/* 0.0708333 * 100 = 7.01vw(기울기, 편차) */
/* 0.0708333 * 480 = 34 */
/* 960 - 34 = 926px(보정값) */

.sub_main_title{width: 100%; height: 100%; display: flex; flex-wrap: wrap; justify-content: center; align-items: center; animation: fadeInUp 1.2s cubic-bezier(0.25, 1, 0.5, 1) forwards;will-change: transform, opacity;}


/* growthvision */
.growthvision{background: #000; }
.growthvision .contents_title_xxlarge{color:#fff;}
.growthvision_contents_wrap{ width: 100%; display: flex; flex-wrap: wrap; justify-content: space-between; padding-top: 20px; }
.growthvision_contents_box{ width: 33%; aspect-ratio: 1 / 1.7; border-right: 1px solid #666; display: flex ;flex-wrap: wrap; justify-content: center; align-items: flex-start; padding-top: 8%; box-sizing: border-box;}
.growthvision_contents_box:last-child{border-right: none;}
.growthvision_contents_box:nth-child(2) .growthvision_contents_img_wrap {margin-top: 80px;}
.growthvision_contents_img_wrap{position: relative; width: 60%;aspect-ratio: 1/2; overflow: hidden;}

.growthvision_contents_img{object-fit: cover; transition: transform 0.6s ease;}
.growthvision_contents_img_wrap:hover .growthvision_contents_img{ transform: scale(1.02); }
.growthvision_contents_img_wrap:hover .growthvision_contents_overlay{position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.3); z-index: 10;}
.growthvision_contents_hidden_text {position: absolute; top:0; left: 0; width: 100%; height: 100%;
display: flex; flex-wrap: wrap; flex-direction: column; padding: 36px; justify-content: center; gap: 30px; text-align: left; z-index: 10;  opacity: 0; transform: translateY(20px); transition: all 0.4s ease; transition: all 0.5s cubic-bezier(0.25, 1, 0.5, 1); box-sizing: border-box;  }
.growthvision_contents_hidden_text .contents_title_xsmall{color: #fff; font-weight: 400; line-height: 144%;}
.growthvision_contents_hidden_text:hover {opacity: 1;transform: translateY(0);transition-delay: 0.1s;}

.growthvision_contents_title_wrap{position: absolute; bottom: 0; left: 0;  padding: 36px;
display: flex; flex-wrap: wrap; flex-direction: column;gap: 8px; color: #fff; z-index: 10;}


/* artisansofbeauty */
.artisansofbeauty{padding-top: 360px; margin: 0; display: flex; flex-wrap: wrap; flex-direction: column; align-items: flex-end; gap: 160px; background: #000;}
.artisansofbeauty .contents_title_xxlarge{width: 100% ; border-bottom: 1px solid #666; box-sizing: border-box; padding-bottom: 20px; color:#fff;}
.artisansofbeauty_contents_wrap{position: relative; width: 80%; padding-bottom: 180px; overflow: hidden; }
.artisansofbeauty_contents_box{ cursor: pointer;}
.artisansofbeauty_contents{height: 580px; display: flex;flex-wrap: wrap; flex-direction: column; justify-content: space-between; align-items: flex-start; transition: transform 0.4s ease-in-out; overflow: hidden; z-index: 1;}
.artisansofbeauty_contents_img {object-fit: cover; transition: transform 0.4s ease-in-out; overflow: hidden;}
.artisansofbeauty_contents_title_wrap{display: flex; flex-wrap: wrap; flex-direction: column; gap :20px; color: #fff;}
.artisansofbeauty_contents_title_wrap .contents_title_small{ line-height: 126%; padding-left: 15px; text-indent: -15px; }
.artisansofbeauty_contents_title_wrap .contents_article_medium { text-indent: 15px; }

.artisansofbeauty_contents_title_wrap .contents_title_small > span { display: inline-block; width: 12px; height: 10px; }
.artisansofbeauty_contents_title_wrap .contents_title_small > span:first-child {
    background: url(../images/artisansofbeauty_text_icon_01.png) no-repeat 50% 50%;
}
.artisansofbeauty_contents_title_wrap .contents_title_small > span:last-child {
    background: url(../images/artisansofbeauty_text_icon_02.png) no-repeat 50% 50%;
}
.artisansofbeauty_contents_img img:hover {transform: scale(1.02); transition: .4s;}

.artisansofbeauty_contents_wrap .swiper-pagination{position: absolute; bottom:50px;  background: #333; top: auto !important; z-index: 9999; height: 3px;}
.swiper-pagination .swiper-pagination-progressbar-fill{background: #999; height: 3px;}


/* craftingthevision_01 */
.craftingthevision_01_contents_wrap{position: relative; width: 100%; display: flex; flex-wrap: wrap; gap: 96px; padding-top: 40px; }
.craftingthevision_01_contents_text_wrap{display: flex; flex-wrap: wrap; flex-direction: column; justify-content: center; gap: 23px;}
.craftingthevision_01_contents_text_box{display: flex; flex-wrap: wrap; flex-direction: column; justify-content: center; gap: 23px;}
.craftingthevision_01_contents_text_box .contents_article_large{line-height: 144%; color: #676767;}
.craftingthevision_01_contents_box{position: relative; overflow: hidden; cursor: pointer; border-bottom-right-radius: 30%; }
.craftingthevision_01_contents_box .contents_title_large {position: absolute; bottom: 0; left: 0; padding: 40px; color: #fff; text-shadow: 0 0 5px rgba(0,0,0,0.3);  z-index: 2; }
.craftingthevision_01_contents_overlay{position: absolute; top: 0; left: 0;width: 100%; height: 100%;background: rgba(0, 0, 0, 0.4); z-index: 1; opacity: 0.3; transition: .4s ease-in-out;}
.craftingthevision_01_contents_box:hover .craftingthevision_01_contents_overlay{opacity: 1;}
.craftingthevision_01_contents_box .craftingthevision_01_contents_img {transition: .4s; display: block;}
.craftingthevision_01_contents_box:hover .craftingthevision_01_contents_img{transform: scale(1.02); transition: .4s;}

/* craftingthevision_02 */
.craftingthevision_02{display: flex; flex-wrap: wrap; justify-content: flex-end; padding: 0; margin-top: -117px;}
.craftingthevision_02_contents_text_wrap{width: 90%; margin-left: 10%; aspect-ratio: 1/0.4; display: flex; flex-wrap: wrap; justify-content: space-between; align-items: center; padding: 0 150px 0 80px; border-bottom-left-radius: 180px; background: #EFEFEF; }
.craftingthevision_02_contents_text_wrap .contents_article_xlarge { color: #5d5d5d; line-height: 144%; }

.craftingthevision_02_contents_wrap{display: flex; flex-wrap: wrap; gap: 20px; margin-top: -160px;}

.craftingthevision_02_contents_box{position: relative; overflow: hidden; cursor: pointer; }
.craftingthevision_02_contents_box:first-child{border-top-left-radius: 30%; }
.craftingthevision_02_contents_box .contents_title_large {position: absolute; bottom: 0; left: 0; padding: 40px; color: #fff; text-shadow: 0 0 5px rgba(0,0,0,0.3);  z-index: 2; }
.craftingthevision_02_contents_overlay{position: absolute; top: 0; left: 0;width: 100%; height: 100%;background: rgba(0, 0, 0, 0.4); z-index: 1; opacity: 0.3; transition: .4s ease-in-out;}
.craftingthevision_02_contents_box:hover .craftingthevision_02_contents_overlay{opacity: 1;}
.craftingthevision_02_contents_box .craftingthevision_02_contents_img {transition: .4s; display: block;}
.craftingthevision_02_contents_box:hover .craftingthevision_02_contents_img{transform: scale(1.02); transition: .4s;}

/* craftingthevision_03 */
.craftingthevision_03_contents_wrap{display: flex; flex-wrap: wrap; gap: 20px;}
.craftingthevision_03_contents_box{position: relative; overflow: hidden; cursor: pointer; }
.craftingthevision_03_contents_box:last-child{border-top-right-radius: 150px; border-bottom-right-radius: 150px; }
.craftingthevision_03_contents_box .contents_title_large {position: absolute; bottom: 0; left: 0; padding: 40px; color: #fff; text-shadow: 0 0 5px rgba(0,0,0,0.3);  z-index: 2; }
.craftingthevision_03_contents_overlay{position: absolute; top: 0; left: 0;width: 100%; height: 100%;background: rgba(0, 0, 0, 0.4); z-index: 1; opacity: 0.3; transition: .4s ease-in-out;}
.craftingthevision_03_contents_box:hover .craftingthevision_03_contents_overlay{opacity: 1;}
.craftingthevision_03_contents_box .craftingthevision_03_contents_img {transition: .4s; display: block;}
.craftingthevision_03_contents_box:hover .craftingthevision_03_contents_img{transform: scale(1.02); transition: .4s;}
.craftingthevision_03_bg{ width: 90%; aspect-ratio: 1 / 0.3; background: #EFEFEF; border-top-right-radius: 300px; border-bottom-right-radius: 300px; z-index: -1; margin-top: -310px; }

/* thecultureofsharedbeauty_01 */
.thecultureofsharedbeauty_01_contents_wrap{display: flex; flex-wrap: wrap; justify-content: space-between; padding-top: 40px;}
.thecultureofsharedbeauty_01_text_wrap{width:40%; display: flex; flex-wrap: wrap; flex-direction: column; justify-content: space-between; padding: 200px 0 60px 0;}
.thecultureofsharedbeauty_01_text_box{display: flex; flex-wrap: wrap; flex-direction: column; gap: 13px;}
.thecultureofsharedbeauty_01_text_box .contents_article_large { color: #676767; line-height: 144%; }
.thecultureofsharedbeauty_01_text_btn {display: inline-flex; align-items: flex-start; gap: 8px; color: #000;}
.thecultureofsharedbeauty_01_text_btn span{border-bottom: 2px solid #000; padding-bottom: 8px;}
.thecultureofsharedbeauty_01_text_btn:hover span{border-bottom: 2px solid #112B76; padding-bottom: 8px; color: #112B76;}
.thecultureofsharedbeauty_01_text_btn img{padding-top: 2px;}

/* thecultureofsharedbeauty_02 */
.thecultureofsharedbeauty_02{display: flex; flex-wrap: wrap; justify-content: flex-end;}
.thecultureofsharedbeauty_02_text_wrap{display: flex; flex-wrap: wrap; flex-direction: column; justify-content: space-between; text-align: right; padding: 80px 100px 60px 0;}
.thecultureofsharedbeauty_02_text_box{display: flex; flex-wrap: wrap; flex-direction: column; gap: 13px;}
.thecultureofsharedbeauty_02_text_box .contents_article_large { color: #676767; line-height: 144%; }
.thecultureofsharedbeauty_02_text_btn {display: inline-flex; align-items: flex-start; gap: 8px; color: #000;}
.thecultureofsharedbeauty_02_text_btn span{border-bottom: 2px solid #000; padding-bottom: 8px;}
.thecultureofsharedbeauty_02_text_btn:hover span{border-bottom: 2px solid #112B76; padding-bottom: 8px; color: #112B76;}
.thecultureofsharedbeauty_02_text_btn img{padding-top: 2px;}

/* openpositionatap */
.openpositionatap{width: 100%; height: 591px;  margin-top: 160px; padding-top: 0; background: url(../images/openpositionatap_bg.jpg) 50% 50% / contain no-repeat; display: flex; flex-wrap: wrap; flex-direction: column; justify-content: center; align-items: center; gap: 180px; color: #fff;} 
.openpositionatap_contents_wrap p{color: #fff;}
.openpositionatap_text_wrap{display: flex; flex-wrap: wrap; flex-direction: column; gap: 26px;}
.openpositionatap_text_wrap .contents_article_xlarge{font-weight: 400; text-align: center; line-height: 144%;}

.openpositionatap_text_wrap .btn_more_button{border: 2px solid #fff; background: none;}
.openpositionatap_text_wrap .btn_more_button:hover{background: #fff;}


/*footer */
footer{padding: 180px 80px 100px 80px; border-top: 1px solid #d9d9d9; box-sizing: border-box; margin-top: 100px;}
.footer_logo{padding-bottom: 54px;}
.footer_gnb_wrap{display: flex; flex-wrap: wrap; justify-content: space-between; padding-bottom: 98px;}
.footer_gnb{width: 340px; display: flex; flex-wrap: wrap; justify-content: space-between;}
.footer_gnb ul{display: flex; flex-wrap: wrap; flex-direction: column; gap: 8px;}
.footer_gnb ul li a{font-weight: 500; color: #666666;}

.footer_sns ul{width: 206px; display: flex; flex-wrap: wrap; justify-content: space-between;}

.footer_text_wrap{width: 100%; display: flex; flex-wrap: wrap; justify-content: space-between; align-items: center; padding-top: 14px; border-top: 1px solid #d9d9d9;}
.footer_text_wrap p{color: #999;}
.footer_text_wrap a{font-weight: 500; color: #666;}